// header styling
header{
  min-height: 10em;
}

.top-info, nav{
  background: lightblue;
}

.header-logo{
  margin-left: 25%;
}

.top-text, #searchbox{
  float: right;
  margin-right: 25%;
}

.nav-links{
  display:flex;
  justify-content: space-around;
}
