header {
  min-height: 10em; }

.top-info, nav {
  background: lightblue; }

.header-logo {
  margin-left: 25%; }

.top-text, #searchbox {
  float: right;
  margin-right: 25%; }

.nav-links {
  display: flex;
  justify-content: space-around; }

.blog-posts {
  display: flex;
  justify-content: center; }

.post {
  max-width: 30em;
  max-height: 25em;
  background: lightgray; }

.post-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
